body{

margin:0;
font-family:Arial;

}


/* TOP BAR */

.top-bar{

text-align:center;
padding:8px;
background:#f5f5f5;

}


/* HERO FULL SCREEN */

.hero{

height:100vh;

background-image:url("hero.png");

background-size:cover;

background-position:center;

color:black;

position:relative;

}


/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

position:relative;

}



/* LEFT MENU */

.nav-left{

display:flex;
gap:25px;
list-style:none;
margin:0;
padding:0;

}


.nav-left a{

color:white;
text-decoration:none;

}



/* LOGO CENTER PERFECT POSITION */

.logo{

position:absolute;

top:5px;   /* right below free delivery bar */

left:50%;

transform:translateX(-50%);

}


.logo img{

height:150px;   /* PERFECT SIZE */

width:auto;    /* IMPORTANT */

display:block;

}



/* SEARCH RIGHT */

.nav-right input{

padding:6px;

}



/* HERO TEXT CENTER */

.hero-text{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

text-align:center;

}


.hero-text h1{

font-size:100px;
margin:0;

}


.hero-text h2{

font-size:35px;

}


.hero-text p{

font-size:20px;

}
.shirts-section{

padding:40px;

}


/* REMOVE TITLE */

.section-title{

display:none;

}


/* SLIDER */

.shirts-slider{

display:flex;

gap:25px;

overflow-x:auto;

scroll-behavior:smooth;

}

.shirts-slider::-webkit-scrollbar{

display:none;

}


/* CARD */

.shirt-card{

min-width:300px;

position:relative;

cursor:pointer;

}


/* IMAGE */

.shirt-card img{

width:100%;

height:400px;

object-fit:cover;

}


/* NAME ON IMAGE */

.shirt-card p{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

background:white;

padding:12px 30px;

font-size:18px;

margin:0;

}

.shirt-card img{

transition:0.4s;

}

.shirt-card:hover img{

transform:scale(1.05);

}