/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-icons span {
    margin-left: 15px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    height: 80vh;
    background: url("images/dp.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: white;
    font-size: 60px;
    letter-spacing: 3px;
}

/* PRODUCTS */
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.card {
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 10px 0;
}
@media (max-width: 768px) {

    .navbar {
        padding: 10px 15px;
    }

    .logo {
        font-size: 22px;
    }

    .hero {
        height: 60vh;
    }

    .hero h1 {
        font-size: 35px;
        text-align: center;
    }

    .products {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .card {
        width: 90%;
    }
}

